@import "function";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

#hedarSkin {
  background-image: url("/img/guitar.png");
  background-repeat: no-repeat;
  background-size: 90px;
  padding: 50px 100px 30px 10px;
  &:hover {
    background-image: url("/img/eleguitar.png");
  }
}


textarea {
  @include sitefont;
}


// スマホ版
@media screen and (max-width: 480px) {
  .mobile {
    display: none;
  }
 }

// 画像について
#img {
  display: block;
  border-radius: 50px;
}

#Newimg {
  display: block;
}

// ストップボタン
.stopbutton {
  position: fixed;
  padding: 20px 30px 20px 30px;
  left: 1270px;
}
@include iphone-12-max() {
  .stopbutton {
    position: fixed;
    padding: 20px;
    left: 600px;
  }
}

.user_name {
  padding-left: 30px;
  font-size: 30px;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

// ギターコード画像の配置
#preview {
  color: #db1024;
  font-weight: bold;
    img {
    width: 90px;
    margin-bottom: 80px;
    margin-right: -20px;
    }
}

#lyrics {
  color: #db1024;
  font-weight: bold;
    img {
    width: 70px;
    margin-bottom: 80px;
    margin-right: -20px;
    }
}


// ギターボタンの編集
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cord-button {
  padding: 15px;
  margin: 20px 40px 20px 0px;
  @include sitefont;
}

// 終わり
// ここからはskin共通！
// ナビゲーション携帯レスポンシブ
.navbar-nav {
  padding-left: 380px;
  @include iphone-12-max() {
    display: none;
  }
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  @include iphone-12-min() {
    display: none;
  }
  span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
    &:nth-child(1) {
      top: 10px;
    }
    &:nth-child(2) {
      top: 20px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }
  .active {
    display: block;
    span {
      &:nth-child(1) {
        top : 16px;
        left: 6px;
        background :#fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 16px;
        background :#fff;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
      }
    }
  }
}

nav.menu {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  @include iphone-12-min() {
    display: none;
  }
  ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    li {
      list-style-type: none;
      margin-bottom: 30px;
      padding: 0;
      width: 100%;
      transition: .4s all;
      &:last-child {
        padding-bottom: 0;

      }
      &:hover {
        opacity: 0.5;
      }
      a {
        color: #fff;
        padding: 1em 0;
        text-decoration :none;
      }
    }
  }
}

nav.menu.normal {
  ul {
    display: none;
  }
}
/* このクラスを、jQueryで付与・削除する */
nav.menu.active {
  opacity: 100;
  ul {
    display: block;
  }
} 

#preview {
  @include preview-font;
  img {
    @include preview-image;
  }
}

#lyrics {
  @include preview-font;
  img {
    @include preview-image;
  }
}


// ストップボタン
.stopbutton {
  position: fixed;
  padding: 20px 30px 20px 30px;
  left: 1270px;
}
@include iphone-12-max() {
  .stopbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }
  .movebutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 150px;
  }
  .moveslowbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }
}



// ヘッダーナビゲーション
h1 a{
  color: white;
  @include hederfont;
  font-weight: 900;
   &:hover {
     text-decoration: none;
     color: $sinnzi-color-orenge;
     opacity: 0.8;
   }
 }
 li {
   list-style: none;
 }
 
 ul {
     overflow: hidden;
     list-style:none;
     margin: 0 auto;
     z-index: 20;
     margin-left: 10px;
     @include hederfont;
     font-weight: 900;
    li {
     display: inline-block;
     padding: 26px 10px 20px 10px;
     list-style: none;
       a {
       font-size: 20px;
       color: black;
         &:hover {
           text-decoration: none;
           color: $sinnzi-color-orenge;
           }
         }
       }
   } 

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  color: black !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}



// ここから共通
@include iphone-12-max() {
  .stopbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }
  .movebutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 150px;
  }
  .moveslowbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }
}
// ギターコードの編集
#cordbackground {
  background: #c8ffad;
}

.cordmenu {
  display: flex;
  justify-content: center;
}
.cord-1 {
 @include cord;
 background-color: red;
}
.cord-2 {
  @include cord;
  background-color: blue;
 }
 .cord-3 {
  @include cord;
  background-color: lightskyblue;
 }
 .cord-4 {
  @include cord;
  background-color: green;
 }
 .cord-5 {
  @include cord;
  background-color: brown;
 }
 .cord-6 {
  @include cord;
  background-color: purple;
 }
 .cord-7 {
  @include cord;
  background-color: pink;
 }
 .cord-8 {
  @include cord;
  background-color: black;
 }
 .cord-9 {
  @include cord;
  background-color: orange;
 }
 .cord-10 {
  @include cord;
  background-color: lightgreen;
 }
 .cord-11 {
  @include cord;
  background-color: gold;
 }
 .cord-12 {
  @include cord;
  background-color: silver;
 }

img {
  width: 200px;
  height: auto;
  border: 2px solid #000;
}

.cord-font {
  @include cord-font;
  &:hover {
    color:brown;
    text-decoration: none;
  }
}


// コード一覧終わり
