@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: black;
}

textarea {
  font-family: "\660E\671D\4F53";
}

@media screen and (max-width: 480px) {
  .mobile {
    display: none;
  }
}

#img {
  display: block;
  border-radius: 50px;
}

#Newimg {
  display: block;
}

.stopbutton {
  position: fixed;
  padding: 20px 30px 20px 30px;
  left: 1270px;
}

.test {
  display: none;
  overflow: auto;
}

.modal-content {
  background-color: white;
  width: 500px;
}

.user_name {
  padding-left: 30px;
  font-size: 30px;
}

#lyrics {
  font-size: 30px;
  padding: 30px;
}

h1 a {
  color: black;
}

h1 a:hover {
  text-decoration: none;
  color: #1B1311;
  opacity: 0.8;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cord-button {
  padding: 15px;
  margin: 20px 40px 20px 0px;
  font-family: "\660E\671D\4F53";
}

#cordbackground {
  background: #c8ffad;
}

.cordmenu {
  display: flex;
  justify-content: center;
}

.cord {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: aqua;
}

.cord:hover {
  background-color: aquamarine;
}

.cord a {
  display: flex;
  color: #fff;
}

.cord a:hover {
  text-decoration: none;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid #000;
}

.cord-font {
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: blod;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.cord-font:hover {
  color: brown;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
  margin-left: 10px;
}

ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
  list-style: none;
}

ul li a {
  font-size: 20px;
  color: black;
}

ul li a:hover {
  text-decoration: none;
}

.navbar-laravel {
  background-color: #B90008;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: black !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

