#hedarSkin {
  background-image: url("/img/guitar.png");
  background-repeat: no-repeat;
  background-size: 90px;
  padding: 50px 100px 30px 10px;
}

#hedarSkin:hover {
  background-image: url("/img/eleguitar.png");
}

h1 a {
  color: #fff;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

h1 a:hover {
  text-decoration: none;
  color: #eb9916;
  opacity: 0.8;
}

li {
  list-style: none;
}

ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
  margin-left: 10px;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
  list-style: none;
}

ul li a {
  font-size: 20px;
  color: #fff;
}

ul li a:hover {
  text-decoration: none;
  color: #eb9916;
}

.navbar-laravel {
  background-color: #eea20c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  color: #fff !important;
}

