@charset "UTF-8";

#hedarSkin {
  background-image: url("/img/shogouki.png");
  background-repeat: no-repeat;
  background-size: 100px;
  padding: 50px 100px 30px 10px;
}

#hedarSkin:hover {
  background-image: url("/img/shogouki_kakusei.png");
}

#hedarSkin:active {
  background-image: url("/img/shogouki_angry.png");
}

textarea {
  overflow: auto;
}

.button-link {
  display: flex;
  text-decoration: none;
  color: black;
  margin-top: 30px;
}

.button-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値 : 透過状態 */
  /* アニメーション時間は 0.8秒 */
  transition: opacity 0.8s ease;
  background-color: #B90008;
  /* 背景カラー */
}

body.fadeout::after {
  opacity: 1;
}

body.fadeout article {
  transform: scale(1.2);
}

#background-home-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-home-image li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  -webkit-animation: anime 60s linear 0s infinite;
          animation: anime 60s linear 0s infinite;
}

#background-home-image li:nth-child(1) {
  background-image: url("/img/shogoukibg2.jpg");
  /* 背景画像を入力して下さい */
}

#background-home-image li:nth-child(2) {
  background-image: url("/img/shogoukibg1.jpg");
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

#background-home-image li:nth-child(3) {
  background-image: url("/img/sinnzibg1.jpg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

#background-home-image li:nth-child(4) {
  background-image: url("/img/sinnzibg2.jpg");
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
}

@-webkit-keyframes anime {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  10% {
    transform: scale(1.1);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  10% {
    transform: scale(1.1);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#background-mypage-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-mypage-image li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  -webkit-animation: anime 60s linear 0s infinite;
          animation: anime 60s linear 0s infinite;
}

#background-mypage-image li:nth-child(1) {
  background-image: url("/img/evabg1.jpg");
  /* 背景画像を入力して下さい */
}

#background-mypage-image li:nth-child(2) {
  background-image: url("/img/evabg2.jpg");
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

#background-mypage-image li:nth-child(3) {
  background-image: url("/img/evabg3.jpg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

#background-mypage-image li:nth-child(4) {
  background-image: url("/img/evabg4.jpg");
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
}

h1 a {
  color: #23d024;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

h1 a:hover {
  text-decoration: none;
  color: #eb9916;
  opacity: 0.8;
}

li {
  list-style: none;
}

ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
  margin-left: 10px;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

ul li {
  display: inline-block;
  padding: 20px 10px;
  list-style: none;
}

ul li a {
  font-size: 20px;
  color: #23d024;
}

ul li a:hover {
  text-decoration: none;
  color: #eb9916;
}

.navbar-laravel {
  background-color: #6c32ab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  color: #23d024 !important;
}

@media screen and (max-width: 854px) {
  .navbar-nav {
    display: none;
  }
}

.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 854px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  background-color: #23d024;
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
  background-color: #23d024;
}

.hamburger span:nth-child(3) {
  top: 30px;
  background-color: #23d024;
}

.hamburger .active {
  display: block;
}

.hamburger .active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  transform: rotate(-45deg);
}

.hamburger .active span:nth-child(2),
.hamburger .active span:nth-child(3) {
  top: 16px;
  background: #fff;
  transform: rotate(45deg);
}

nav.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

@media screen and (min-width: 854px) {
  nav.menu {
    display: none;
  }
}

nav.menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.menu ul li {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
  width: 100%;
  transition: 0.4s all;
}

nav.menu ul li:last-child {
  padding-bottom: 0;
}

nav.menu ul li:hover {
  opacity: 0.5;
}

nav.menu ul li a {
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}

nav.menu.normal ul {
  display: none;
}

/* このクラスを、jQueryで付与・削除する */

nav.menu.active {
  opacity: 100;
}

nav.menu.active ul {
  display: block;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

#preview {
  color: #db1024;
  font-weight: bold;
}

#preview img {
  width: 70px;
  margin-bottom: 55px;
  margin-top: -25px;
  margin-right: -30px;
}

#lyrics {
  color: #db1024;
  font-weight: bold;
}

#lyrics img {
  width: 70px;
  margin-bottom: 55px;
  margin-top: -25px;
  margin-right: -30px;
}

.stopbutton {
  position: fixed;
  padding: 10px;
  left: 1270px;
}

.movebutton {
  position: fixed;
  padding: 10px;
  top: 200px;
  left: 1270px;
}

@media screen and (max-width: 854px) {
  .stopbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }

  .movebutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 150px;
  }

  .moveslowbutton {
    position: fixed;
    padding: 5px 15px;
    left: 660px;
    top: 230px;
  }
}

.navbar-toggler {
  background-color: #23d024;
}

#cordbackground {
  background: #c8ffad;
}

.cordmenu {
  display: flex;
  justify-content: center;
}

.cord-1 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: red;
}

.cord-1:hover {
  opacity: 0.8;
}

.cord-1 a {
  display: flex;
  color: #fff;
}

.cord-1 a:hover {
  text-decoration: none;
}

.cord-2 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: blue;
}

.cord-2:hover {
  opacity: 0.8;
}

.cord-2 a {
  display: flex;
  color: #fff;
}

.cord-2 a:hover {
  text-decoration: none;
}

.cord-3 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: lightskyblue;
}

.cord-3:hover {
  opacity: 0.8;
}

.cord-3 a {
  display: flex;
  color: #fff;
}

.cord-3 a:hover {
  text-decoration: none;
}

.cord-4 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: green;
}

.cord-4:hover {
  opacity: 0.8;
}

.cord-4 a {
  display: flex;
  color: #fff;
}

.cord-4 a:hover {
  text-decoration: none;
}

.cord-5 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: brown;
}

.cord-5:hover {
  opacity: 0.8;
}

.cord-5 a {
  display: flex;
  color: #fff;
}

.cord-5 a:hover {
  text-decoration: none;
}

.cord-6 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: purple;
}

.cord-6:hover {
  opacity: 0.8;
}

.cord-6 a {
  display: flex;
  color: #fff;
}

.cord-6 a:hover {
  text-decoration: none;
}

.cord-7 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: pink;
}

.cord-7:hover {
  opacity: 0.8;
}

.cord-7 a {
  display: flex;
  color: #fff;
}

.cord-7 a:hover {
  text-decoration: none;
}

.cord-8 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: black;
}

.cord-8:hover {
  opacity: 0.8;
}

.cord-8 a {
  display: flex;
  color: #fff;
}

.cord-8 a:hover {
  text-decoration: none;
}

.cord-9 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: orange;
}

.cord-9:hover {
  opacity: 0.8;
}

.cord-9 a {
  display: flex;
  color: #fff;
}

.cord-9 a:hover {
  text-decoration: none;
}

.cord-10 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: lightgreen;
}

.cord-10:hover {
  opacity: 0.8;
}

.cord-10 a {
  display: flex;
  color: #fff;
}

.cord-10 a:hover {
  text-decoration: none;
}

.cord-11 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: gold;
}

.cord-11:hover {
  opacity: 0.8;
}

.cord-11 a {
  display: flex;
  color: #fff;
}

.cord-11 a:hover {
  text-decoration: none;
}

.cord-12 {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: silver;
}

.cord-12:hover {
  opacity: 0.8;
}

.cord-12 a {
  display: flex;
  color: #fff;
}

.cord-12 a:hover {
  text-decoration: none;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid #000;
}

.cord-font {
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: blod;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.cord-font:hover {
  color: brown;
  text-decoration: none;
}

