#hedarSkin {
  background-image: url("/img/shogouki.png");
  background-repeat: no-repeat;
  background-size: 100px;
  padding: 50px 100px 30px 10px;
}

#hedarSkin:hover {
  background-image: url("/img/shogouki_kakusei.png");
}

#hedarSkin:active {
  background-image: url("/img/shogouki_angry.png");
}

#cordbackground {
  background: #c8ffad;
}

.cordmenu {
  display: flex;
  justify-content: center;
}

.cord {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: aqua;
}

.cord:hover {
  background-color: aquamarine;
}

.cord a {
  display: flex;
  color: #fff;
}

.cord a:hover {
  text-decoration: none;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid #000;
}

.cord-font {
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: blod;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.cord-font:hover {
  color: brown;
  text-decoration: none;
}

h1 a {
  color: #23d024;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

h1 a:hover {
  text-decoration: none;
  color: #eb9916;
  opacity: 0.8;
}

li {
  list-style: none;
}

ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
  margin-left: 10px;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
  list-style: none;
}

ul li a {
  font-size: 20px;
  color: #23d024;
}

ul li a:hover {
  text-decoration: none;
  color: #eb9916;
}

ul li a:active {
  background-image: url("/img/C.png");
}

.navbar-laravel {
  background-color: #6c32ab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #23d024 !important;
}

