$sitecolor: #1B1311;

$sitebackground: #B90008;

$cordbackground: #CDF7D9;

$sinnzi-color-purple: #6c32ab;
$sinnzi-color-green: #23d024;
$sinnzi-color-orenge: #eb9916;

$ayanami-color-yellow: #eea20c;
$ayanami-color-white: #fff; 


$NERV-red: #B90008;
$NERV-black: #1B1311; 

@mixin background-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@mixin background-image-li {
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
}

@mixin iphone-12-max() {
  @media screen and (max-width: 854px) {
    @content;
  }
}

@mixin iphone-12-min() {
  @media screen and (min-width: 854px) {
    @content;
  }
}

@mixin body-animation {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}

@mixin preview-font {
  color: #db1024;
  font-weight: bold;
}
@mixin preview-image {
  width: 70px;
  margin-bottom: 90px;
  margin-right: -30px;
}

@mixin sitefont {
  font-family: '明朝体';
}

@mixin hederfont {
  font-family: 'Noto Serif JP', serif;
}

@mixin cord {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  &:hover {
    opacity: 0.8;
  }
  a {
    display: flex;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}