@import "skinFuction";

#hedarSkin {
  background-image: url("/img/guitar.png");
  background-repeat: no-repeat;
  background-size: 90px;
  padding: 50px 100px 30px 10px;
  &:hover {
    background-image: url("/img/eleguitar.png");
  }
}

h1 a{
  color: $ayanami-color-white;
  @include hederfont;
  font-weight: 900;
   &:hover {
     text-decoration: none;
     color: $sinnzi-color-orenge;
     opacity: 0.8;
   }
 }
 li {
   list-style: none;
 }
 
 ul {
     overflow: hidden;
     list-style:none;
     margin: 0 auto;
     z-index: 20;
     margin-left: 10px;
     @include hederfont;
     font-weight: 900;
    li {
     display: inline-block;
     padding: 26px 10px 20px 10px;
     list-style: none;
       a {
       font-size: 20px;
       color: black;
         &:hover {
           text-decoration: none;
           color: $sinnzi-color-orenge;
           }
         }
       }
   } 

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  color: black !important;
}