@import "skinFuction";

#hedarSkin {
  background-image: url("/img/shogouki.png");
  background-repeat: no-repeat;
  background-size: 100px;
  padding: 50px 100px 30px 10px;
  &:hover {
    background-image: url("/img/shogouki_kakusei.png");
  }
  &:active {
    background-image: url("/img/shogouki_angry.png");
  }
}


// ギターコードの編集
#cordbackground {
  background: #c8ffad;
}

.cordmenu {
  display: flex;
  justify-content: center;
}
.cord {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: aqua;
  &:hover {
    background-color: aquamarine;
  }
  a {
    display: flex;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

img {
  width: 200px;
  height: auto;
  border: 2px solid #000;
}

.cord-font {
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: blod;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  color:black;

  &:hover {
    color:brown;
    text-decoration: none;
  }
}
h1 a{
  color: $sinnzi-color-green;
  @include hederfont;
  font-weight: 900;
   &:hover {
     text-decoration: none;
     color: $sinnzi-color-orenge;
     opacity: 0.8;
   }
 }
 li {
   list-style: none;
 }
 
 ul {
     overflow:hidden;
     list-style:none;
     margin: 0 auto;
     z-index: 20;
     margin-left: 10px;
     @include hederfont;
     font-weight: 900;
    li {
     display: inline-block;
     padding: 26px 10px 20px 10px;
     list-style: none;

       a {
       font-size: 20px;
       color: $sinnzi-color-green;
         &:hover {
           text-decoration: none;
           color: $sinnzi-color-orenge;
           }
         &:active {
            background-image: url("/img/C.png");
          }
         }
       }
    } 

.navbar-laravel {
  background-color: $sinnzi-color-purple;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: $sinnzi-color-green !important;
}
